# Completely ignore binaries
*.dll
*.exe
*.msi
*.rdp

# Ignore all files in template/software except startup template file:
template/software
!template/software/startup.template.cmd

# Ignore all files in template/resources except suggestions.md file:
template/resources
!template/resources/suggestions.md

# Always ignore output folder
output
